<plugin>
	<nom>Zpip-dist en HTML5</nom>
	<icon>img/z5.png</icon>
	<auteur>davux</auteur>
	<licence>GNU/GPL</licence>
	<version>1.1.3</version>
	<etat>test</etat>
	<description>Apporte du balisage HTML5 au squelette ZPIP-dist. Les choix de balisage ne sont pas encore fixés à 100%, n'hésitez pas à faire vos commentaires.
	</description>
	<prefix>zpip_html5</prefix>
	<necessite id="Z" version="[1.2.0;]" />
	<necessite id="html5" />
	<necessite id="SPIP" version="[2.0.10;]" />
	<categorie>squelette</categorie>
</plugin>
